# Virtual env
.venv/
env/
venv/

# Compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de dependencias
uv.lock

# Configuración / sistema
.python-version
.DS_Store
Thumbs.db
*.log

# IDEs
.idea/
.vscode/
*.code-workspace