* {
  margin: 0;
  /* Establece el margen en 0 para eliminar márgenes por defecto */
  padding: 0;
  /* Establece el padding en 0 para eliminar rellenos por defecto */
  box-sizing: border-box;
  /* Incluye padding y borde en el ancho y alto total de cada elemento */
  font-family: comic, sans-serif;
}

